/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.6;
}

header {
  background: linear-gradient(
    to right,
    rgba(7, 7, 172, 0.982),
    rgba(86, 99, 235, 0.429)
  );
  text-align: center;
  padding: 20px;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-column {
  flex: 1;
}

.left-column-header {
  padding: 20px;
  border-radius: 5px;
  flex: 1;
  text-align: left;
  margin-left: 40px;
}

/* Add the following style for the margin line */
.left-column section {
  margin-bottom: 20px;
  border-left: 5px solid orange; /* Orange margin line */
  padding-left: 10px; /* Adjust the padding for the content */
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  color: orange;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
}

#main-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-column {
  padding: 20px;
  padding-top: 70px;
  border-radius: 5px;
  flex: 2;
  margin-left: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.right-column {
  background: linear-gradient(to right, orange, white);
  padding: 20px;
  padding-top: 80px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex: 0.8;
}

.right-column-pic {
  position: absolute;
  top: 120px;
  width: 120px;
  height: 120px;
  right: 170px;
  border-radius: 5px;
  border: 5px solid white;
  overflow: hidden;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

img {
  width: 120px;
  height: auto;
  display: block;
  border-radius: 5px;
}
