/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  margin-top: 10px;
  text-align: center;
}

.nav-links li {
  margin-right: 20px;
  width: 10vw;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.logo {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.toggle-sidebar {
  text-align: left;
  cursor: pointer;
  position: absolute;
  font-size: 26px;
  left: 2vw;
}
.cross {
  text-align: right;
  padding-top: 1px;
  left: 0;
  right: 25px;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.hero {
  background: url("./cover.jpg") no-repeat rgba(0, 0, 0, 0.2) center;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  height: 35vh;
  padding-top: 10vh;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

.fl {
  color: black;
  text-decoration: none;
}

.categories h2,
.featured-freelancers h2,
.search-bar h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

.featured-freelancers h3,
.categories h3 {
  text-align: center;
}

.category-card,
.freelancer-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item,
.freelancer-item {
  flex-basis: calc(33.33% - 20px);
}

.search-bar {
  text-align: center;
}

.search-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button[type="submit"]:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .nav-links li {
    display: block;
    margin: 10px 0;
    width: 40vw;
    text-align: center;
    margin-left: 30vw;
  }
}

.freelancer-item,
.category-img {
  text-align: center;
}

.category-img img {
  width: 350px;
  height: 200px;
  border-radius: 5px;
}

.freelancer-item img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .freelancer-card,
  .category-card {
    display: block;
  }
  .freelancer-item,
  .category-item {
    width: 90vw;
  }
}

/* Sidebar Styles */
.sidebar {
  background-color: #333;
  color: #fff;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  overflow-y: auto;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.sidebar-links {
  list-style-type: none;
  padding-top: 0vh;
}

.sidebar h3 {
  text-align: left;
  padding-left: 4.8vh;
  padding-top: 10px;
}

.sidebar-links li {
  padding: 10px 20px;
  color: white;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
  padding-left: 1vw;
  border-width: 10px;
  border-color: white;
}

.main.sidebar-open {
  margin-left: 250px;
}

.main.sidebar-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
